/* Wichtige Farben

*/
/* DEFAULTS START */
* { 
 margin:0;
 padding:0;
 font-family:sans-serif;
}
body {
 line-height: 1.4em;
 background:#fff url(../images/bg.png) repeat-x;
}

h1, h2, h3, h4, h5, h6, ol, ul, li, dl, dt, dd, p, input, textarea, select {
 font-family:sans-serif;
 text-align:left;
}

ul, li {
 padding:0; margin: 0;
 list-style-type: none;
 position: relative;
}
img, a img {
 border:0;
}
.clear { clear:both; }
.none { display:none; }
.leftalign { float:left; }
.rightalign { float:right; }

blockquote {
 font-style: italic;
 margin-left:20px;
}
q {
 font-style: italic;
}

a:link {
 color: black;
}
a:hover, a:active, a:focus, a:visited {
 color: black;
 text-decoration:none;
}
/* DEFAULTS END */
